.stackholder {
	text-align: center;
	img {
		width: 48px !important;
		height: 48px !important;
	}
	clip-path: polygon(
		0 0,
		25% 0,
		calc(25% + 9px) 9px,
		calc(75% - 9px) 9px,
		75% 0,
		100% 0,
		100% 100%,
		60% 100%,
		calc(60% - 8px) calc(100% - 8px),
		calc(40% + 8px) calc(100% - 8px),
		40% 100%,
		0 100%
	);
	padding: 32px 16px;
	background: var(--p1);
	transition: all 300ms ease-in-out;
	border-radius: 16px;
	&:hover {
		background: var(--g2);
		.stacks {
		}
	}
	&:nth-child(2):hover {
		background: var(--g3);
		.stacks {
		}
	}
	&:nth-child(3):hover {
		background: var(--g2);
		.stacks {
		}
	}
	&:nth-child(4):hover {
		background: var(--g3);
		.stacks {
		}
	}
}
.stacks {
	background: var(--g4);
	color: #fff;
	border-radius: 6px;
	text-align: center;
	padding: 26px 0;
	transition: all 300ms ease-in-out;

	clip-path: polygon(
		-1px 40px,
		0px 40px,
		40px 0px,
		40px 0px,
		40px 0px,
		40px 0px,
		40px -1px,
		calc(100% - 10px) -1px,
		calc(100% - 10px) 0px,
		calc(100% - 8.43566px) 0.123116px,
		calc(100% - 6.90983px) 0.489434px,
		calc(100% - 5.4601px) 1.08993px,
		calc(100% - 4.12215px) 1.90983px,
		calc(100% - 2.92893px) 2.92893px,
		calc(100% - 1.90983px) 4.12215px,
		calc(100% - 1.08993px) 5.4601px,
		calc(100% - 0.489434px) 6.90983px,
		calc(100% - 0.123116px) 8.43566px,
		100% 10px,
		100% 10px,
		100% 10px,
		100% 10px,
		calc(100% + 1px) 10px,
		calc(100% + 1px) calc(100% - 40px),
		100% calc(100% - 40px),
		calc(100% - 40px) 100%,
		calc(100% - 40px) 100%,
		calc(100% - 40px) 100%,
		calc(100% - 40px) 100%,
		calc(100% - 40px) calc(100% + 1px),
		10px calc(100% + 1px),
		10px 100%,
		8.43566px calc(100% - 0.123116px),
		6.90983px calc(100% - 0.489434px),
		5.4601px calc(100% - 1.08993px),
		4.12215px calc(100% - 1.90983px),
		2.92893px calc(100% - 2.92893px),
		1.90983px calc(100% - 4.12215px),
		1.08993px calc(100% - 5.4601px),
		0.489434px calc(100% - 6.90983px),
		0.123116px calc(100% - 8.43566px),
		0px calc(100% - 10px),
		0px calc(100% - 10px),
		0px calc(100% - 10px),
		0px calc(100% - 10px),
		-1px calc(100% - 10px)
	);

	min-width: 50%;
	@media only screen and (min-width: 40em) {
		min-width: auto;
	}
	li {
		margin-bottom: 4px;
	}
}
