.bg-color-1 {
	background: var(--g5);
	color: #fff;
	a,
	h2,
	h3,
	h4 {
		color: #fff;
	}
}
.bg-color-2 {
	background-color: var(--p3);
	color: #fff;
	a,
	h2,
	h3,
	h4 {
		color: #fff;
	}
}
.bg-color-3 {
	background: var(--gx);
	a,
	h2,
	h3,
	h4 {
		color: #fff;
	}
}
::selection {
	color: var(--c5);
	background: var(--p1);
	text-shadow: none;
}
