.visually-hidden {
	@extend %visuallyhidden;
}
.cf {
	@extend %clearfix;
}
.wrapper {
	@extend %max_w;
	//overflow: hidden;
}
.wrapper-m {
	@extend %max_w_m;
	flex: none;
}
.wrapper-l {
	@extend %max_w_l;
	flex: none;
	box-sizing: border-box;
}
.v-center {
	@extend %v_c;
}
.v-center--f {
	align-self: center;
}
.yellow {
	color: var(--yellow);
}
.blue {
	color: var(--blue-color);
}
.red {
	color: var(--c5);
}
